 <article class="post">
      <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
       
        <a href="/post/{{id}}" target="_blank">by {{user.username}} on {{format_date created_at}}</a>
      </div>
      <div class="post-content">
        <p>{{post_content}}</p>
      
      </div>
</article>